@import "../../../../styles.scss";

::ng-deep {
    .mat-mdc-card.chat-bar-card {
        width: 25vw;
        height: 88vh;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .mat-mdc-card-content:first-child {
        padding-top: 0 !important; 
    }

    .mat-mdc-card-content{
        height: 100%;
    }
}

.selectedChat {
    background-color: #16a798 !important;
    color: white;
    border-radius: 5px;
}

.no-chat{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    font-size: large;
    color: $primary-color;
    cursor: pointer;
}

.chat-details {
    cursor: pointer;
    width: 100%;
    padding: 6px 10px;
    font-size: medium;
    height: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: relative;


    .profile-image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .chat-time {
        font-size: 10px;
        position: absolute;
        right: 15px;
        bottom: 5px;
    }

    .batch{
        position: absolute;
        font-size: 10px;
        font-weight: bold   ;
        right: 15px;
        top: 10px;
        width: 12px;
        height: 12px;
        padding: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #16a798;
        border-radius: 50%;
        color: white;
    }
}