@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '@ctrl/ngx-emoji-mart/picker';

$primary-color: #009688;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: $primary-color;
}